/*
!.gitignore
!.bashrc
!.config/
!.gtkrc-2.0
!.themes/
!.icons/
!nixos/

!.mozilla
.mozilla/*
!.mozilla/firefox
.mozilla/firefox/*
!.mozilla/firefox/profile
.mozilla/firefox/profile/*
!.mozilla/firefox/profile/chrome
!.mozilla/firefox/profile/user.js
