shopt -s nullglob dotglob
for f in *; do
    if [ "$f" = ".direnv" ]; then continue; fi
    if [ -d "$f" ]; then
        watch_dir $f
    elif [ -f "$f" ]; then
        watch_file $f
    fi
done

nix_direnv_manual_reload
shell_nix="$(find_up shell.nix)"
use nix "$shell_nix" -A glide
