icon_font: &icon_font Symbols Nerd Font:size=30

# mfw fractional scaling
# https://codeberg.org/dnkl/yambar/issues/158
bar:
  height: 50
  location: top
  spacing: 7
  margin: 14

  foreground: "{{base07-hex}}ff"
  background: "{{base01-hex}}aa"
  font: Inter:size=27

  border:
    color: "{{base04-hex}}aa"
    width: 2

  left:
    - dwl:
        number-of-tags: 9
        dwl-info-filename: ${DWL_RUNTIME}/stdout
        anchors:
          tag: &tag
            text: "{name}"
            margin: 12
        content:
          list:
            items:
              - map:
                  conditions:
                    id == 0:
                      list:
                        spacing: 10
                        left-margin: 7
                        right-margin: 5
                        items:
                          - string: { text: "{layout}" }
                          - string: { text: "{title}", max: 50 }

                    selected:
                      - string:
                          <<: *tag
                          deco:
                            stack:
                              - background: { color: "{{base11-hex}}aa" }
                              - underline:
                                  size: 5
                                  color: "{{base05-hex}}aa"
                    urgent:
                      string:
                        <<: *tag
                        foreground: "{{base03-hex}}ff"
                        deco:
                          underline:
                            size: 5
                            color: "{{base08-hex}}aa"
                    ~empty:
                      string:
                        <<: *tag
                        foreground: "{{base03-hex}}ff"
              - map:
                  conditions:
                    id != 0 && (selected || ~empty || urgent):
                      empty: { right-margin: 4 }
  center:
    - clock:
        time-format: "%I:%M %p"
        date-format: "%d/%m/%Y"
        content:
          list:
            spacing: 5
            items:
              - string: { text: 󰥔, font: *icon_font }
              - string: { text: "{time}", right-margin: 8 }
              - string: { text: 󰃭, font: *icon_font }
              - string: { text: "{date}" }
  right:
    - battery:
        anchors:
          discharging: &discharging
            - string: { text: 󰁺, font: *icon_font, foreground: "{{base08-hex}}ff" }
            - string: { text: 󰁻, font: *icon_font, foreground: "{{base0A-hex}}ff" }
            - string: { text: 󰁼, font: *icon_font }
            - string: { text: 󰁽, font: *icon_font }
            - string: { text: 󰁾, font: *icon_font }
            - string: { text: 󰁿, font: *icon_font }
            - string: { text: 󰂀, font: *icon_font }
            - string: { text: 󰂁, font: *icon_font }
            - string: { text: 󰂂, font: *icon_font }
            - string: { text: 󰁹, font: *icon_font }

          green: &green
            font: *icon_font
            foreground: "{{base0B-hex}}ff"

          charging: &charging
            - string: { text: 󰢜, <<: *green }
            - string: { text: 󰂆, <<: *green }
            - string: { text: 󰂇, <<: *green }
            - string: { text: 󰂈, <<: *green }
            - string: { text: 󰢝, <<: *green }
            - string: { text: 󰂉, <<: *green }
            - string: { text: 󰢞, <<: *green }
            - string: { text: 󰂊, <<: *green }
            - string: { text: 󰂋, <<: *green }
            - string: { text: 󰂅, <<: *green }

          not_charging: &not_charging
            - string: { text: 󰁺, <<: *green }
            - string: { text: 󰁻, <<: *green }
            - string: { text: 󰁼, <<: *green }
            - string: { text: 󰁽, <<: *green }
            - string: { text: 󰁾, <<: *green }
            - string: { text: 󰁿, <<: *green }
            - string: { text: 󰂀, <<: *green }
            - string: { text: 󰂁, <<: *green }
            - string: { text: 󰂂, <<: *green }
            - string: { text: 󰁹, <<: *green }
          
        name: "BAT1"
        poll-interval: 30000
        content:
          list:
            right-margin: 6
            spacing: 5
            items:
              - map:
                  default:
                    ramp:
                      tag: capacity
                      items: *discharging

                  conditions:
                    state == "charging":
                      ramp:
                        tag: capacity
                        items: *charging
                    state == "not charging":
                      ramp:
                        tag: capacity
                        items: *not_charging
              - string: { text: "{capacity}%" }
                    

    - pipewire:
        anchors:
          volume: &volume
            map:
              conditions:
                muted:
                  string: { text: "{cubic_volume}%", foreground: "{{base03-hex}}ff" }
                ~muted:
                  string: { text: "{cubic_volume}%" }
          icon: &icon
            map:
              conditions:
                type == "source":
                  map:
                    conditions:
                      muted:
                        string: { text: 󰍭, font: *icon_font, foreground: "{{base03-hex}}ff" }
                      ~muted:
                        string: { text: 󰍬, font: *icon_font }
                type == "sink":
                  map:
                    conditions:
                      muted:
                        string: { text: 󰖁, font: *icon_font, foreground: "{{base03-hex}}ff" }
                      ~muted:
                        ramp:
                          tag: cubic_volume
                          items:
                            - string: { text: 󰕿, font: *icon_font }
                            - string: { text: 󰖀, font: *icon_font }
                            - string: { text: 󰕾, font: *icon_font }
        content:
          list:
            spacing: 3
            items:
              - *icon
              - *volume
              - map:
                  conditions:
                    type == "sink":
                      empty: { right-margin: 6 }
              
    - network:
        anchors:
          ifname: &ifname
            string: { text: "{name}", max: 6 }
        content:
          map:
            margin: 3
            conditions:
              type == "ether" && kind == "":
                map:
                  conditions:
                    state == "up" || (state == "unknown" && (ipv4 != "" || ipv6 != "")):
                      list:
                        spacing: 5
                        items:
                          - string: { text: 󰛳, font: *icon_font }
                          - *ifname
                    state == "unknown":
                      list:
                        spacing: 5
                        items:
                          - string: { text: "󰲝", font: *icon_font }
                          - *ifname

    - network:
        poll-interval: 10000
        content:
          map:
            margin: 3
            conditions:
              type == "wlan" && (state == "up" || (state == "unknown" && (ipv4 != "" || ipv6 != ""))):
                list:
                  spacing: 5
                  items:
                    - ramp:
                        tag: quality
                        items:
                          - string: { text: 󰤟, font: *icon_font }
                          - string: { text: 󰤢, font: *icon_font }
                          - string: { text: 󰤥, font: *icon_font }
                          - string: { text: 󰤨, font: *icon_font }
                    - string: { text: "{ssid}" }
